a.btn, .btn a
  display: inline-block
  text-decoration: none
  border: 2px solid $primary
  padding: 0.66666rem 1rem
  color: $primary
  +balboa
  background-size: 200% 100%
  background-image: linear-gradient(to right, transparent 50%, $primary 50%)
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  transition: 0.2s
  &:hover
    color: $secondary
    background-position: -100% 0

a.link, .teaser__excerpt a
  display: inline-block
  background-size: 100% 200%
  background-image: linear-gradient(to top, $primary 50%, transparent 50%)
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  transition: 0.2s
  &:hover
    color: $secondary !important
    background-position: 0 100%
