.members
  +for-phone-only
    +border(0 2px)
    hr
      display: none
  &__category
    background-color: $primary
    margin-block-start: 0
    color: $secondary
    +balboa
    padding: 0.5rem 1rem
    font-size: 1.333333rem


.member
  margin-top: 1rem
  display: grid
  grid-template-columns: 1fr
  +for-tablet-portrait-up
    margin-top: 0
    
    grid-template-columns: auto 1fr
    grid-template-areas: "image content"
  &__info
    grid-row: 1 / 2
  &__bio
    grid-row: 3 / 4
  &__job, &__bio, &__name
    padding-left: 1.5rem !important
    padding-right: 1.5rem
  &__name
    margin-block-start: 0
    margin-block-end: 0
    font-family: $freight
    font-size: 1.666666rem
  &__job
    font-style: italic
    padding-top: 0.25rem
    padding-bottom: 0.25rem
    +for-tablet-landscape-up
      padding-top: 0.5rem
      padding-bottom: 0.5rem
    strong
      font-weight: normal
  &__photo
    grid-row: 2 / 3
    display: block
    +border(0)
    align-self: center
    text-align: center
    position: relative
    padding-top: 1rem
    img
      width: 300px
      border-radius: 50%
      +for-tablet-landscape-up
        padding: 3rem
    // +for-tablet-portrait-up
    //   display: inline-block
    //   float: right
    //   +border(0 0 2px 2px)
    //   margin-left: 1rem
    //   img
    //     border-radius: 50%
    //     max-width: 200px
    //     margin: 0.75rem 1rem 0.4rem
  &__pronouns
    font-size: 0.9rem
    position: absolute
    left: 1rem
    bottom: 2rem
    background-color: $secondary
    .infobox
      margin: 0

+for-tablet-landscape-up
  .member
    display: grid
    grid-template-columns: auto 1fr
    grid-template-areas: "image content"
    &__info
      grid-area: content
      +border(left)
