.support
  &__section
    +border(0 2px 2px 2px)
    padding: 1rem
    +for-tablet-portrait-up
      padding: 1rem 5rem
      +border(none)
    +for-tablet-landscape-up
      padding: 1rem 7rem
    +for-desktop-up
      +border(sides)
      margin: 0 $margin-desktop
      padding: 1.5rem 5rem
    &:last-child
      +border(sides)
      +for-tablet-portrait-up
        +border(none)
      +for-desktop-up
        +border(sides)
  &__header
    font-family: $freight
    font-size: 1.666666rem
    margin-block-start: 0
    +for-tablet-portrait-up
      font-size: 2.222222rem
    +for-desktop-up
      font-size: 2.5rem
  &__content
    p
      &:first-child
        font-weight: 900
        +for-tablet-portrait-up
          font-weight: normal
          font-size: 1.444444rem
  &__circles
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    +for-tablet-landscape-up
      justify-content: center
    +for-desktop-up
      margin: 3rem 0
  &__circle
    position: relative
    width: 122px
    height: 122px
    color: $secondary
    padding: 1rem
    box-sizing: border-box
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    +balboa
    font-size: 1.4rem
    line-height: 1.1em
    +for-tablet-portrait-up
      width: 150px
      height: 150px
      font-size: 1.666666rem
    +for-tablet-landscape-up
      margin: 0 1rem
    +for-desktop-up
      width: 200px
      height: 200px
      font-size: 2.222222rem
    &::before
      content: ""
      display: block
      border-radius: 50%
      background-color: $primary
      top: 0
      left: 0
      right: 0
      bottom: 0
      position: absolute
      z-index: -1
  &__projects
    margin: 0
    padding: 0
    list-style-type: none
  &__project
    +border(all)
    margin: 1rem 0
    +for-tablet-portrait-up
      margin: 2rem 0
      width: 80%
      &:nth-child(odd)
        margin-right: auto
      &:nth-child(even)
        margin-left: auto
    +for-tablet-landscape-up
      width: 65%
    +for-desktop-up
      width: 80%
    &__name, &__description
      margin-block-start: 0
      margin-block-end: 0
      padding: 0.5rem 1.5rem
    &__name
      color: $secondary
      background-color: $primary
      font-size: 1.333333rem
    &__description
      background-color: $primary-shade
      font-size: 1.111111rem
      padding-bottom: 0.75rem
    &__lines
      background-image: url('/assets/images/stripes-narrower.svg')
      background-size: 1500px 500px
      min-height: 40px
      background-repeat: repeat
      +border(top)
      flex-grow: 2
    &__bar
      display: flex
      flex-direction: row-reverse
    &__box
      background-color: $primary-shade
      +border(2px 2px 0 0)
    &__button
      background-color: $secondary
      color: $primary
      text-decoration: none
      +balboa
      +border(all)
      padding: 0.25rem 0.5rem
      display: block
      margin: 0.25rem
  &__button
    background-color: $primary
    color: $secondary
    +balboa
    padding: 0.75rem 1rem
    font-size: 1.111111rem
    display: inline-block
    +for-tablet-portrait-up
      font-size: 1.333333rem
      margin: 1rem 0
