{{- $filename := .Get "src" }}
{{- $classList := .Get "classList" }}
{{- $alt := .Get "alt" }}
<figure
   class="image {{ if $classList }}image--{{ $classList }}{{ end }}"
   markdown="0"
>
   <div class="image__wrapper image__wrapper--single">
      {{ if or (or (in $filename "http") (in $filename ".svg")) (in $filename ".avif") }}
         <img src="{{ $filename }}" alt="{{ $alt }}" />
      {{ else }}       
         {{- $src := .Page.Resources.GetMatch $filename }}
         {{- $image := $src.Resize "900x" }}
         <img src="{{ $image.RelPermalink }}" alt="{{ $alt }}" />
      {{ end }}
   </div>
</figure>
