<aside class="signupsmall" markdown="0">
  <label for="signup_small_field_email" class="signupsmall__title">
    {{ if (.Get 0) }}
      {{ .Get 0 }}
    {{ else }}
      Support our mission of a fairer world using technology & join our email
      list.
    {{ end }}
  </label>
  <form
    class="signupsmall__form"
    action="https://static.mailerlite.com/webforms/submit/g2r6z4"
    data-code="g2r6z4"
    method="post"
    target="_blank"
  >
    <input
      id="signup_small_field_email"
      class="signupsmall__input"
      type="email"
      placeholder="Your email address"
      name="fields[email]"
    />
    <div class="signupsmall__submitbutton__container">
      <input type="hidden" name="ml-submit" value="1" />
      <button type="submit" class="signupsmall__submitbutton__button">
        Sign up
      </button>
      <input type="hidden" name="anticsrf" value="true" />
    </div>
  </form>
</aside>
