<aside class="signupsmall" markdown="0">
  <label for="signup_small_field_email" class="signupsmall__title">
    {{ if (.Get 0) }}
      {{ .Get 0 }}
    {{ else }}
      Support our mission of a fairer world using technology & join our email
      list.
    {{ end }}
  </label>
  <div class="signupsmall__form">
    <script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.2/umd/signup-form.min.js" data-label-1="gfsc.studio" data-button-color="#EA5B0D" data-button-text-color="#FFFFFF" data-site="https://gfsc.community/" data-locale="en" async></script>
  </div>
</aside>
