<aside class="signupsmall" markdown="0">
  <label for="signup_small_field_email" class="signupsmall__title">
    {{ if (.Get 0) }}
      {{ .Get 0 }}
    {{ else }}
      Support our mission of a fairer world using technology & join our email
      list.
    {{ end }}
  </label>
  <form
    action="https://news.gfsc.studio/subscription/form"
    class="signupsmall__form"
    method="post"
    target="_blank"
  >
    <input
      id="signup_small_field_email"
      class="signupsmall__input"
      type="email"
      placeholder="Your email address"
      name="email"
    />
    <div class="signupsmall__submitbutton__container">
      <input
        id="543ba"
        type="hidden"
        name="l"
        checked
        value="543ba6cd-4b0f-4fdd-af74-77c5f30896e8"
      />
      <button type="submit" class="signupsmall__submitbutton__button">
        Sign up
      </button>
    </div>
  </form>
</aside>
