{{ define "main" }}
<div class="page page--default studio">
   <div class="page__content page__content--doublemargin">
      {{ .Content }}
      <div class="studio__elements page__underline page__underline--marginless">
         <a class="studio__elements__item" href="#consultancy"
            >Consultancy and coaching</a
         >
         <a class="studio__elements__item" href="#research">Research</a>
         <a class="studio__elements__item" href="#development">Development</a>
      </div>
      {{ with $.Resources.GetMatch "consultancy.md" }}
      <h3 class="page__header--sectionheader" id="consultancy">{{ .Title }}</h3>
      <div class="page__image--marginless page__image--sectionheader orangify">
         <img src="https://source.unsplash.com/random/1000x500/?img=1" />
      </div>
      <div>{{ .Content }}</div>
      <a class="studio__button" href="{{ .Params.Buttonlink }}"
         >{{ .Params.Buttontext }}</a
      >
      {{ end }}
      <div
         class="strip strip--circles strip--divider"
         role="presentation"
      ></div>
      {{ with $.Resources.GetMatch "research.md" }}
      <h3 class="page__header--sectionheader" id="research">{{ .Title }}</h3>
      <div class="page__image--marginless page__image--sectionheader orangify">
         <img src="https://source.unsplash.com/random/1000x500/?img=2" />
      </div>
      <div>{{ .Content }}</div>
      <a class="studio__button" href="{{ .Params.Buttonlink }}"
         >{{ .Params.Buttontext }}</a
      >
      {{ end }}
      <div
         class="strip strip--circles strip--divider"
         role="presentation"
      ></div>
      {{ with $.Resources.GetMatch "development.md" }}
      <h3 class="page__header--sectionheader" id="development">{{ .Title }}</h3>
      <div class="page__image--marginless page__image--sectionheader orangify">
         <img src="https://source.unsplash.com/random/1000x500/?img=3" />
      </div>
      <div>{{ .Content }}</div>
      <a class="studio__button" href="{{ .Params.Buttonlink }}"
         >{{ .Params.Buttontext }}</a
      >
      {{ end }}
   </div>
</div>
{{ end }}
