{{ define "main" }}
<div class="page page--default studio">
   <div class="page__content page__content--doublemargin">
      {{ .Content }}
      <div class="studio__elements page__underline page__underline--marginless">
         <a class="btn" href="#consultancy"
            >Consultancy and coaching</a
         >
         <a class="btn" href="#research">Research</a>
         <a class="btn" href="#development">Development</a>
      </div>
      {{ with $.Resources.GetMatch "consultancy.md" }}
      <h3 class="page__header--sectionheader" id="consultancy">{{ .Title }}</h3>
      <div class="page__image--marginless page__image--sectionheader orangify">

      {{ $consultImage := $.Resources.GetMatch "consultancy.jpg" }}
			{{ $consultImage := $consultImage.Resize "1200x" }}
			{{ with $consultImage }}
				<img src="{{ .RelPermalink }}" />
			{{ end }}
      </div>
      <div>{{ .Content }}</div>
			<div class="studio__elements">
				<a class="btn" href="{{ path.Join "/" .Params.Buttonlink }}"
					 >{{ .Params.Buttontext }}</a
				>
			</div>
      {{ end }}
      <div
         class="strip strip--circles strip--divider"
         role="presentation"
      ></div>
      {{ with $.Resources.GetMatch "research.md" }}
      <h3 class="page__header--sectionheader" id="research">{{ .Title }}</h3>
      <div class="page__image--marginless page__image--sectionheader orangify">
      {{ $researchImage := $.Resources.GetMatch "research.jpg" }}
			{{ $researchImage := $researchImage.Resize "1200x" }}
			{{ with $researchImage }}
				<img src="{{ .RelPermalink }}" />
			{{ end }}
      </div>
      <div>{{ .Content }}</div>
			<div class="studio__elements">
				<a class="btn" href="{{ path.Join "/" .Params.Buttonlink }}"
					 >{{ .Params.Buttontext }}</a
				>
			</div>
      {{ end }}
      <div
         class="strip strip--circles strip--divider"
         role="presentation"
      ></div>
      {{ with $.Resources.GetMatch "development.md" }}
      <h3 class="page__header--sectionheader" id="development">{{ .Title }}</h3>
      <div class="page__image--marginless page__image--sectionheader orangify">
      {{ $devImage := $.Resources.GetMatch "development.jpg" }}
			{{ $devImage := $devImage.Resize "1200x" }}
			{{ with $devImage }}
				<img src="{{ .RelPermalink }}" />
			{{ end }}
      </div>
      <div>{{ .Content }}</div>
			<div class="studio__elements">
				<a class="btn" href="{{ path.Join "/" .Params.Buttonlink }}"
					 >{{ .Params.Buttontext }}</a
				>
			</div>
      {{ end }}
   </div>
</div>
{{ end }}
