{{ define "main"}}

{{ assign blogauthors = page.author | split: ", " }}
<div class="blog">
   <div class="blog__content">
      <header>
         <h1 class="blog__title">{{ page.title }}</h1>
         {{ if page.subtitle }}
         <p class="blog__subtitle">{{ page.subtitle }}</p>
         {{ end }}
      </header>

      <div class="blog__body">{{ content }}</div>
   </div>

   <aside class="blog__aside">
      <time
         class="blog__meta blog__meta--date"
         datetime="{{ page.date | date_to_long_string }}"
         >{{ page.date | date_to_long_string }}</time
      >
      <div class="blog__meta blog__meta--author" rel="author">
         By {{ for blogauthor in blogauthors }} {{ assign author =
         site.data.authors[blogauthor] }} {{ if blogauthor == blogauthors.last
         }} {{ author.name }} {{ else }} {{ author.name }}, {{ end }} {{
         endfor }}
      </div>{{ for blogauthor in blogauthors }}{{ assign author =
      site.data.authors[blogauthor] }}<div class="blog__meta blog__meta--avatar blog__meta--avatar--author">
         <picture>
            <img
               src="/assets/images/authors/{{ author.avatar }}"
               alt="A photo of {{ author.name }}"
               class="blog__meta--avatar--image"
            />
         </picture>
      </div>{{ endfor }}{{ if page.illustrator }}{{ assign illustrator =
      site.data.authors[page.illustrator] }}<div class="blog__meta blog__meta--author blog__meta--illustrator" rel="illustrator">
         Illustration by {{ illustrator.name }}
      </div>
      <div class="blog__meta blog__meta--avatar blog__meta--avatar--illustrator">
         <picture>
            <img
               src="/assets/images/authors/{{ illustrator.avatar }}"
               alt="A photo of {{ illustrator.name }}"
               class="blog__meta--avatar--image"
            />
         </picture>
      </div>
      {{ else }}
      <span></span><span></span>
      {{ end }}
   </aside>
</div>

<div class="paginator">
   <nav aria-label="Blog navigation">
      <ul>
         <li><a href="/blog" class="btn">Go back</a></li>
         {{ if page.previous }}
         <li>
            <a href="{{ page.previous.url }}" class="btn">Previous article</a>
         </li>
         {{ end }} {{ if page.next }}
         <li><a href="{{ page.next.url }}" class="btn">Next article</a></li>
         {{ end }}
      </ul>
   </nav>
</div>

{{ define "end" }}