{{ define "main" }}
  <div class="members">
    <h2 class="members__category">Studio lead</h2>
    {{ range first 1 (where .RegularPagesRecursive ".Params.Role" "lead") }}
      <div class="member">
        <div class="member__info">
          <h3 class="member__name">{{ .Params.title }}</h3>
          <div class="member__job">
            <strong>{{ .Params.job }}</strong>
          </div>
        </div>
        <div class="member__bio">{{ .Content }}</div>

        <div class="member__photo">
          {{ $avatarfile := .Params.avatar }}
          {{ $avatar := .Resources.GetMatch (printf "**%s" .Params.avatar) }}
          <img
            class="member__photo__image"
            src="{{ $avatar.RelPermalink }}"
            alt="A photo of {{ .Params.title }}"
          />
          <div class="member__pronouns">
            <div class="infobox">
              <span class="icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 5 19"
                  style="enable-background: new 0 0 5 19"
                  xml:space="preserve"
                >
                  <path
                    d="M4.3,3.72H0.7V0.38h3.6V3.72z M4.3,18.62H0.7V5.88h3.6V18.62z"
                  ></path>
                </svg>
              </span>
              <span class="desc"> {{ .Params.pronouns }} </span>
            </div>
          </div>
        </div>
      </div>
      <hr class="fancy" />
    {{ end }}

      <div class="page page--default studio">
        <div class="page__content page__content--doublemargin">
          <h2>GFSC is currently restructuring!</h2>
          <p>We're currently focussed on getting our next chapter as the <a href="https://gfsc.community/">GFSC Community</a> up and running.</p>
          <p>GFSC Studio will be back in operation in good time but for now it's just Kim working out the next steps.</p>
        </div>
      </div>


    {{/* TODO: Reinstate when there's a team again <h2 class="members__category">Staff</h2>  */}}
    {{ $staff := $.Site.GetPage "/team/staff" }}
    {{ range $i, $val := (where $staff.Pages ".Params.jobtype" "==" "staff") }}
      {{ $member := . }}
      <div class="member">
        <div class="member__info">
          <h3 class="member__name">{{ .Params.title }}</h3>
          <div class="member__job">
            {{ .Params.job }}
          </div>
        </div>
        <div class="member__bio">{{ .Content }}</div>
        <div class="member__photo">
          {{ if isset .Params "avatar" }}
            {{ $avatarfile := .Params.avatar }}
            {{ $avatar := .Resources.GetMatch (printf "**%s" .Params.avatar) }}
            <img
              class="member__photo__image"
              src="{{ $avatar.RelPermalink }}"
              alt="A photo of {{ .Params.title }}"
            />
          {{ else }}
            <div class="member__photo__image"></div>
          {{ end }}
          <div class="member__pronouns">
            <div class="infobox">
              <span class="icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 5 19"
                  style="enable-background: new 0 0 5 19"
                  xml:space="preserve"
                >
                  <path
                    d="M4.3,3.72H0.7V0.38h3.6V3.72z M4.3,18.62H0.7V5.88h3.6V18.62z"
                  ></path>
                </svg>
              </span>
              <span class="desc"> {{ .Params.pronouns }} </span>
            </div>
          </div>
        </div>
      </div>
      {{ if eq (add $i 1) (len (where $staff.Pages ".Params.jobtype" "==" "staff")) }}
        <hr class="fancy fancy__borderless--bottom" />
      {{ else }}
        <hr class="fancy" />
      {{ end }}
    {{ end }}
    {{ $advisors := $.Site.GetPage "/team/consultants-and-advisors" }}
    {{ with $advisors }}
      <h2 class="members__category">Advisors</h2>
      <ul class="members__advisors">
        {{ range .Pages }}
          <li class="members__advisor">
            <h3 class="member__name">{{ .Params.title }}</h3>
            <div class="member__pronouns">
              <div class="infobox">
                <span class="icon">
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 5 19"
                    style="enable-background: new 0 0 5 19"
                    xml:space="preserve"
                  >
                    <path
                      d="M4.3,3.72H0.7V0.38h3.6V3.72z M4.3,18.62H0.7V5.88h3.6V18.62z"
                    ></path>
                  </svg>
                </span>
                <span class="desc"> {{ .Params.pronouns }} </span>
              </div>
            </div>
            <div class="member__job">{{ .Params.job }}</div>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
