<div id="newsletter" class="signupbig">
  <p class="signupbig__title">
    Support our mission of a fairer world using technology & join our email
    list.
  </p>
  <form
    class="signupbig__form"
    action="https://static.mailerlite.com/webforms/submit/g2r6z4"
    data-code="g2r6z4"
    method="post"
    target="_blank"
  >
    <label class="signupbig__label" for="signup_field_email">
      Your Email Address:
    </label>
    <input
      class="signupbig__input"
      type="email"
      id="signup_field_email"
      placeholder="someone@example.com"
      name="fields[email]"
    />
    <div class="signupbig__submitbutton__container">
      <input type="hidden" name="ml-submit" value="1" />
      <button type="submit" class="signupbig__submitbutton__button">
        Sign up
      </button>
      <input type="hidden" name="anticsrf" value="true" />
    </div>
  </form>
</div>
