<div id="newsletter" class="signupbig">
  <p class="signupbig__title">
    Support our mission of a fairer world using technology & join our email
    list.
  </p>
  <form
    action="https://news.gfsc.studio/subscription/form"
    class="signupbig__form"
    method="post"
    target="_blank"
  >
    <label class="signupbig__label" for="signup_field_email">
      Your Email Address:
    </label>
    <input
      class="signupbig__input"
      id="signup_field_email"
      name="email"
      placeholder="someone@example.com"
      type="email"
    />
    <div class="signupbig__submitbutton__container">
      <input
        id="543ba"
        type="hidden"
        name="l"
        checked
        value="543ba6cd-4b0f-4fdd-af74-77c5f30896e8"
      />
      <button type="submit" class="signupbig__submitbutton__button">
        Sign up
      </button>
    </div>
  </form>
</div>
