{{ $alttexts := .Param "galleryalt" }} 
{{ $indexImg := "index.png" }}

{{ if $alttexts }}
  <script src="/assets/js/gallery.js"></script>

  <div class="gallery">
    <div class="gallery__image" id="bigimage">
      <img src='{{ index (.Resources.ByType "image") 0 }}' alt="{{ index $alttexts 0 }}" />
    </div>
    <div class="gallery__thumbnails">
      {{ range $index, $val := .Resources.ByType "image" }} 
        {{ $alttext := index $alttexts $index }}
        {{ if not (eq (string $val) $indexImg) }}
          <div
            class="gallery__thumbnail"
            onClick="showGalleryImage({{ $index }})"
          >
            <img
              src="{{ $val }}"
              {{ if $alttext }}
                alt="{{ $alttext }}"
              {{else}}
                aria-hidden="true"
              {{ end }}
            />
          </div>
        {{ end }}
      {{ end }}
      <div class="gallery__thumbnail gallery__thumbnail--filler"></div>
    </div>
  </div>
{{ else }}
  <p>
    oops no alt text - check the <a href="https://github.com/geeksforsocialchange/gfsc-v3/blob/main/documentation/projectImages.md">docs</a>
  </p>
{{ end }}
