<div class="project__gallery">
    <script src="/assets/js/gallery.js"></script>
    <div class="project__image orangify" id="bigimage">
      <img src="https://source.unsplash.com/random/1000x500/?img=1" />
    </div>
    <div class="project__gallery__thumbnails">
      <div class="project__thumbnail orangify" onClick="showGalleryImage(0)">
        <img src="https://source.unsplash.com/random/1000x500/?img=1" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(1)">
        <img src="https://source.unsplash.com/random/1000x500/?img=2" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(2)">
        <img src="https://source.unsplash.com/random/1000x500/?img=3" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(3)">
        <img src="https://source.unsplash.com/random/1000x500/?img=4" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(4)">
        <img src="https://source.unsplash.com/random/1000x500/?img=5" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(5)">
        <img src="https://source.unsplash.com/random/1000x500/?img=6" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(6)">
        <img src="https://source.unsplash.com/random/1000x500/?img=7" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(7)">
        <img src="https://source.unsplash.com/random/1000x500/?img=8" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(8)">
        <img src="https://source.unsplash.com/random/1000x500/?img=9" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(9)">
        <img src="https://source.unsplash.com/random/1000x500/?img=10" />
      </div>
      <div class="project__thumbnail orangify" onClick="showGalleryImage(10)">
        <img src="https://source.unsplash.com/random/1000x500/?img=11" />
      </div>
    </div>
  </div>
