{{$alttexts := .Param "galleryalt"}}
<div class="project__gallery">
  <script src="/assets/js/gallery.js"></script>
  <div class="project__image orangify" id="bigimage">
    <img src='{{index (.Resources.Match "*jpg") 0}}' />
  </div>
  <div class="project__gallery__thumbnails">
    {{range $index, $val := .Resources.Match "*jpg"}} {{ $alttext := index
    $alttexts $index}}
    <div
      class="project__thumbnail orangify"
      onClick="showGalleryImage({{$index}})"
    >
      <img
        src="{{$val}}"
        {{if
        $alttext}}
        alt="{{$alttext}}"
        {{else}}
        aria-hidden="true"
        {{end}}
      />
    </div>
    {{end}}
  </div>
</div>
