   <div class="paginator">
      <nav aria-label="Blog navigation">
         <ul>
            {{ if .Paginator.HasPrev }}
               <li>
                  <a class="btn" href="{{ .Paginator.Prev.URL }}">Newer articles</a>
               </li>
            {{ end }} 
            {{ range .Paginator.Pagers }}
               <li class="page__num">
                  {{ if (eq $.Paginator .) }}
                     <a class="disabled">{{ .PageNumber }}</a>
                  {{ else if (eq . $.Paginator.First) }}
                     <a class="btn" href="{{ $.Paginator.First.URL }}">{{ .PageNumber }}</a>
                  {{ else }}
                     <a class="btn" href="{{ .URL }}">{{ .PageNumber }}</a>
                  {{ end }}
               </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
               <li>
                  <a class="btn" href="{{ .Paginator.Next.URL }}">Older articles</a>
               </li>
            {{ end }}
         </ul>
      </nav>
   </div>
