{{ $themes := dict }}
{{ $themePages := $.Site.GetPage "/our-work/theme/" }}
{{ range $themePages.RegularPages}}
  {{$themes = merge $themes (dict .Params.key (dict "title" .Title  "link" .Permalink ))}}
{{end}}

{{ $projectThemes := split .Params.themes " "}}

<li class="work__project">
   <div class="work__project__info">
      <a href="{{ .Permalink }}" class="work__project__title">
         <h2 class="work__project__title">{{ .Title }}</h2>
      </a>
			<ul role="list" class="theme-tags">
				{{ range $index, $val := $projectThemes}}
			    {{if ( ge   (add $index 1 ) ( len $projectThemes ))}}
				    <li><a href=" {{ (index $themes $val).link}} "> {{ (index $themes $val).title}} </a></li>
				  {{else}}
				    <li><a href=" {{ (index $themes $val).link}} "> {{ (index $themes $val).title}}, </a></li>
				  {{end}}
				{{end}}
			</ul>
      <p class="work__project__summary">{{ .Description }}</p>
      <a class="btn btn--up" href="{{ .Permalink }}" class="work__project__readmore">Read more</a>
   </div>
	 {{ if .Params.image }}
   <div class="work__project__image">
			<img alt="{{ .Params.imagealt}}" src="{{path.Join .RelPermalink .Params.image}}" />
   </div>
	 {{end}}
</li>
