<li class="work__project">
   <div class="work__project__info">
      <a href="{{ .URL }}" class="work__project__title">
         <h2 class="work__project__title">{{ .Title }}</h2>
      </a>
      <p class="work__project__summary">{{ .Description }}</p>
      <a class="btn btn--up" href="{{ .URL }}" class="work__project__readmore">Read more</a>
   </div>
	 {{ if .Params.image }}
   <div class="work__project__image">
			<img alt="{{ .Params.imagealt}}" src="{{path.Join .RelPermalink .Params.image}}" />
   </div>
	 {{end}}
</li>
