{{ if and (or (in .URL "our-work") (in .URL "project")) (not (eq .URL "/our-work/")) }}
  <div class="title title--work">
    {{ $ourwork := $.Site.GetPage "/our-work/" }}
    {{ with $ourwork }}
      <h2 class="title__main title__main--work">{{ .Title }}</h2>
    {{ end }}
  </div>
{{ else if and (or (in .URL "blog") (in .URL "project")) (not (eq .URL "/blog/")) }}
  <div class="title title--blog">
    {{ $blog := $.Site.GetPage "/blog/" }}
    {{ with $blog }}
      <h2 class="title__main title__main--blog">{{ .Title }}</h2>
    {{ end }}
  </div>
{{ else }}
  <div class="title  {{ if eq .Params.Notitle true }}title--notitle{{end}}">
    {{ if eq .Params.Notitle true }}
      <div class="title__strip strip strip--circles" role="presentation"></div>
    {{ else }}
      <h2 class="title__main">{{ .Title }}</h2>
    {{ end }}
    {{ with .Params.Bigtext }}
      <div class="title__subtitle">
        {{ if eq $.Params.Notitle true }}
          <h2 class="title__subtitle__bigtext">{{ . }}</h2>
        {{ else }}
          <p class="title__subtitle__bigtext">{{ . }}</p>
        {{ end }}
        {{ with $.Params.Bigtextcredit }}
          <p class="title__subtitle__credit">{{ . }}</p>
        {{ end }}
      </div>
    {{ end }}
    {{ if eq .Params.Notitle true }}
    {{ else }}
      <div class="title__strip strip strip--circles" role="presentation"></div>
    {{ end }}
  </div>
{{ end }}