{{ if and (or (in .Permalink "our-work") (in .Permalink "project")) (not (eq .Permalink "/our-work/")) }}
  <div class="title title--borderless">
    {{ $ourwork := $.Site.GetPage "/our-work/" }}
    {{ with $ourwork }}
      <h2 class="title__main">{{ .Title }}</h2>
    {{ end }}
  </div>
{{ else if and (or (in .Permalink "blog") (in .Permalink "project")) (not (eq .Permalink "/blog/")) }}
  <div class="title title--blog">
    {{ $blog := $.Site.GetPage "/blog/" }}
    {{ with $blog }}
      <h2 class="title__main title__main--blog">{{ .Title }}</h2>
    {{ end }}
  </div>
{{ else }}
  <div
    class="title{{ if eq .Params.Notitle true }}
      title--notitle
    {{ end }}{{ if and (eq .Params.Nostrip true) (eq (isset .Params "bigtext") false) }}
      title--borderless
    {{ end }}"
  >
    {{ if eq .Params.Notitle true }}
      <div
        class="title__strip title__strip--top strip strip--circles"
        role="presentation"
      ></div>
    {{ else }}
      <h2 class="title__main">{{ .Title }}</h2>
    {{ end }}
    {{ with .Params.Bigtext }}
      <div
        class="title__subtitle{{ if (eq $.Permalink "/") }}
          title__subtitle--bigger
        {{ end }}"
      >
        {{ if eq $.Params.Notitle true }}
          <h2 class="title__subtitle__bigtext">{{ . }}</h2>
        {{ else }}
          <p class="title__subtitle__bigtext">{{ . }}</p>
        {{ end }}
        {{ with $.Params.Bigtextcredit }}
          <p class="title__subtitle__credit">{{ . }}</p>
        {{ end }}
      </div>
    {{ end }}
    {{ if eq .Params.Nostrip true }}
    {{ else }}
      <div
        class="title__strip title__strip--bottom strip strip--circles"
        role="presentation"
      ></div>
    {{ end }}
  </div>
{{ end }}
