<svg
  class="venn__diagram"
  id="venn-mobile"
  xmlns="http://www.w3.org/2000/svg"
  width="315.289"
  height="832.289"
  viewBox="0 0 315.289 832.289"
>
  <g id="Group_134" data-name="Group 134" transform="translate(-29.711 -369)">
    <g id="Group_43" data-name="Group 43" transform="translate(0 63.491)">
      <g
        id="Group_35"
        data-name="Group 35"
        transform="translate(30.711 306.509)"
      >
        <ellipse
          id="Ellipse_2"
          data-name="Ellipse 2"
          cx="156.644"
          cy="156.644"
          rx="156.644"
          ry="156.644"
        />
      </g>
      <text class="title" transform="translate(90.188 353.408)">
        <tspan x="38.466" y="22">COMMUNITY</tspan>
        <tspan x="58.892" y="50">GROUPS</tspan>
      </text>
      <text class="desc" transform="translate(74.709 421.976)">
        <tspan x="25.843" y="18">We research and design</tspan>
        <tspan x="9.112" y="42">technology with community</tspan>
        <tspan x="38.416" y="66">groups to help them</tspan>
        <tspan x="6.07" y="90">communicate their goals and</tspan>
        <tspan x="34.789" y="114">work better together.</tspan>
      </text>
    </g>
    <g id="Group_42" data-name="Group 42" transform="translate(0 68.491)">
      <g
        id="Group_39"
        data-name="Group 39"
        transform="translate(30.711 559.509)"
      >
        <ellipse
          id="Ellipse_2-2"
          data-name="Ellipse 2"
          cx="156.644"
          cy="156.644"
          rx="156.644"
          ry="156.644"
        />
      </g>
      <text class="title" transform="translate(68.188 638.408)">
        <tspan x="53.41" y="22">RESEARCHERS</tspan>
        <tspan x="56.322" y="50">&amp; ACADEMICS</tspan>
      </text>
      <text class="desc" transform="translate(53.709 702.976)">
        <tspan x="4.745" y="18">We work with academics to engage</tspan>
        <tspan x="28.136" y="42">communities in the research</tspan>
        <tspan x="14.033" y="66">process and to produce effective</tspan>
        <tspan x="45.677" y="90">technological solutions.</tspan>
      </text>
    </g>
    <g id="Group_41" data-name="Group 41" transform="translate(0 63.491)">
      <g
        id="Group_40"
        data-name="Group 40"
        transform="translate(30.711 823.509)"
      >
        <ellipse
          id="Ellipse_2-3"
          data-name="Ellipse 2"
          cx="156.644"
          cy="156.644"
          rx="156.644"
          ry="156.644"
        />
      </g>
      <text class="title" transform="translate(68.188 905.408)">
        <tspan x="36.75" y="22">DIGITAL AGENCIES</tspan>
      </text>
      <text class="desc" transform="translate(74.709 956.976)">
        <tspan x="31.972" y="18">We develop genuinely</tspan>
        <tspan x="7.762" y="42">impactful tech interventions</tspan>
        <tspan x="8.653" y="66">by conducting research with</tspan>
        <tspan x="41.071" y="90">community groups.</tspan>
      </text>
    </g>
  </g>
</svg>

<svg
  class="venn__diagram"
  id="venn"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1300 670"
>
  <g class="diagram" transform="translate(245,-65)">
    <g id="a" class="one">
      <path
        d="M274.11,295.8A235.66,235.66,0,0,1,400,96.75,234.31,234.31,0,0,0,290.57,69.81c-130,0-235.44,105.41-235.44,235.44a235.26,235.26,0,0,0,109.56,199A235.47,235.47,0,0,1,274.11,295.8Z"
      />
      <text id="text--left" transform="translate(183, 250)">
        <tspan x="0em" y="0em">Community</tspan>
        <tspan x="0em" y="1em">Groups*</tspan>
      </text>
      <polyline class="hide" points="85,255 -65,255 -125,305" />
      <foreignObject width="210px" height="250px" class="hide" x="-225" y="315">
        <p>
          We research and design technology with community groups to help them
          communicate their goals and work better together.
        </p>
      </foreignObject>
    </g>
    <g id="b" class="one">
      <path
        d="M627.11,101.35A235.29,235.29,0,0,0,400,96.74a235.46,235.46,0,0,1,125.8,199A235.6,235.6,0,0,1,635.24,504.26a234.44,234.44,0,0,0,78-81.3C778.3,310.36,739.72,166.37,627.11,101.35Z"
      />
      <text id="text--right" transform="translate(623, 250)">
        <tspan x="0" y="0em">Researchers</tspan>
        <tspan x="0" y="1em">& Academics</tspan>
      </text>
      <polyline class="hide" points="715,255 815,255 835,235" />
      <foreignObject width="200px" height="250px" class="hide" x="790" y="95">
        <p>
          We work with academics to engage communities in the research process
          and to produce effective technological solutions.
        </p>
      </foreignObject>
    </g>
    <g id="c" class="one">
      <path
        d="M400,513.72a235.65,235.65,0,0,1-235.33-9.48,234.34,234.34,0,0,0,31.39,108.23c65,112.61,209,151.19,321.61,86.18A235.25,235.25,0,0,0,635.24,504.27,235.42,235.42,0,0,1,400,513.72Z"
      />
      <text id="text--bottom" transform="translate(400, 615)">
        <tspan x="0" y="0em">Digital</tspan>
        <tspan x="0" y="1em">Agencies</tspan>
      </text>
      <polyline class="hide" points="480,620 720,620" />
      <foreignObject width="210px" height="250px" class="hide" x="735" y="510">
        <p>
          We develop genuinely impactful tech interventions by conducting
          research with community groups.
        </p>
      </foreignObject>
    </g>
    <g id="ab" class="two">
      <path
        d="M282.26,290.86a235.38,235.38,0,0,1,243.55,4.87A235.42,235.42,0,0,0,400,96.75,235.66,235.66,0,0,0,274.11,295.8Q278.13,293.27,282.26,290.86Z"
      />
    </g>
    <g id="bc" class="two">
      <path
        d="M603.88,377a234.49,234.49,0,0,0-78.08-81.32c.12,3.16.21,6.33.21,9.53A235.39,235.39,0,0,1,400,513.73a235.39,235.39,0,0,0,235.22-9.47A234.26,234.26,0,0,0,603.88,377Z"
      />
    </g>
    <g id="ac" class="two">
      <path
        d="M391.67,509.14A235.42,235.42,0,0,1,274.11,295.79,235.42,235.42,0,0,0,164.7,504.24,235.65,235.65,0,0,0,400,513.72C397.23,512.25,394.44,510.74,391.67,509.14Z"
      />
    </g>
    <g id="abc" class="three">
      <path
        d="M526,305.25c0-3.2-.09-6.37-.21-9.53a235.41,235.41,0,0,0-243.54-4.86q-4.14,2.4-8.15,4.94A235.4,235.4,0,0,0,391.67,509.14c2.77,1.6,5.56,3.11,8.36,4.58A235.38,235.38,0,0,0,526,305.25Z"
      />
      <text id="text--middle" transform="translate(400, 365)">
        <tspan x="0" y="0em">And everyone</tspan>
        <tspan x="0" y="1em">in between.</tspan>
      </text>
    </g>
    <circle
      class="outline"
      cx="399.98"
      cy="494.75"
      r="235.44"
      style="
        fill: none;
        stroke: #ea5b0c;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      "
    />
    <path
      d="M627.11,101.35A235.29,235.29,0,0,0,400,96.74a235.46,235.46,0,0,1,125.8,199A235.6,235.6,0,0,1,635.24,504.26a234.44,234.44,0,0,0,78-81.3C778.3,310.36,739.72,166.37,627.11,101.35Z"
      style="
        fill: none;
        stroke: #ea5b0c;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      "
    />
    <circle
      cx="509.39"
      cy="305.25"
      r="235.44"
      style="
        fill: none;
        stroke: #ea5b0c;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      "
    />
    <circle
      cx="290.57"
      cy="305.25"
      r="235.44"
      style="
        fill: none;
        stroke: #ea5b0c;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      "
    />
  </g>
</svg>

<script>
  var a = document.getElementById("a");
  var b = document.getElementById("b");
  var c = document.getElementById("c");

  var ab = document.getElementById("ab");
  var bc = document.getElementById("bc");
  var ac = document.getElementById("ac");

  var abc = document.getElementById("abc");

  var regions = [a, b, c, ab, bc, ac, abc];

  function updateHover(elem) {
    regions.forEach(function (elem) {
      elem.classList.remove("hovered");
      elem.classList.remove("hovered--2");
      elem.classList.remove("selected");
    });
    switch (elem) {
      case "a":
        a.classList.add("selected");
        ab.classList.add("hovered");
        ac.classList.add("hovered");
        abc.classList.add("hovered");
        break;
      case "b":
        b.classList.add("selected");
        ab.classList.add("hovered");
        bc.classList.add("hovered");
        abc.classList.add("hovered");
        break;
      case "c":
        c.classList.add("selected");
        ac.classList.add("hovered");
        bc.classList.add("hovered");
        abc.classList.add("hovered");
        break;
      case "ab":
        ab.classList.add("selected");
        a.classList.add("hovered");
        b.classList.add("hovered");
        b.classList.add("hovered");
        bc.classList.add("hovered");
        ac.classList.add("hovered");
        abc.classList.add("hovered--2");
        break;
      case "bc":
        bc.classList.add("selected");
        ac.classList.add("hovered");
        ab.classList.add("hovered");
        b.classList.add("hovered");
        c.classList.add("hovered");
        abc.classList.add("hovered--2");
        break;
      case "ac":
        ac.classList.add("selected");
        ab.classList.add("hovered");
        bc.classList.add("hovered");
        a.classList.add("hovered");
        c.classList.add("hovered");
        abc.classList.add("hovered--2");
        break;
      case "abc":
        abc.classList.add("selected");
        ab.classList.add("hovered--2");
        ac.classList.add("hovered--2");
        bc.classList.add("hovered--2");
        a.classList.add("hovered--2");
        b.classList.add("hovered--2");
        c.classList.add("hovered--2");
    }
  }

  regions.forEach(function (elem) {
    elem.addEventListener("mouseover", function () {
      updateHover(elem.id);
    });
  });
</script>
