<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <a href="#content" class="screen-reader-only screen-reader-only--focus"
      >Skip to content</a
    >
    <div class="flash">
      Hey there! We are currently working on the next iteration of GFSC, please join us at <a href="https://gfsc.community/">gfsc.community</a>. This site is a little out of date but will be spruced up soon!
    </div>
    <div class="page__wrapper">
      {{- partial "header.html" . -}}
      <main id="content">
        {{- partial "title.html" . -}}
        {{- block "main" . }}{{- end }}
      </main>
      {{- partial "bigsignup.html" }}
      {{- partial "footer.html" . -}}
    </div>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
