{{ define "main" }}
  <div class="page">
    <div class="page__content">
      <div class="windows windows--contact">
        <div class="window">
          <h2 class="window__header">Say hello by email</h2>
          <div class="window__content">
            <a class="" href="mailto:kim@gfsc.studio"> kim@gfsc.studio </a>
          </div>
        </div>
        <div class="window">
          <h2 class="window__header">Send a message on Twitter</h2>
          <div class="window__content">
            <a class="" href="https://twitter.com/gfscstudio"> @gfscstudio </a>
          </div>
        </div>
        <div class="window">
          <h2 class="window__header">If you'd like a call back</h2>
          <div class="window__content">Just send us a number!</div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
