{{ define "main" }}
   {{ range .Paginator.Pages }}
      {{ $blogauthors := split .Params.Author ", " }}
      <hr class="fancy fancy__borderless--top" />
      <article
         itemscope
         itemtype="http://schema.org/BlogPosting"
         role="article"
         class="teaser"
      >
         <div class="teaser__content">
            <header>
               <h2 class="teaser__title" itemprop="name">
                  <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
               </h2>
               {{ if isset .Params "subtitle" }}
                  <p class="teaser__subtitle">{{ .Params.Subtitle }}</p>
               {{ end }}
            </header>
            <div class="teaser__excerpt">
               {{ .Params.Description | markdownify }}
               <p><a href="{{ .Permalink }}" class="btn">Read more</a></p>
            </div>
         </div>
         <aside class="teaser__aside">
            <time class="teaser__meta" datetime="{{ .Date }}">
               {{ .Date.Format "02 January 2006" }}
            </time>
            <div class="teaser__meta teaser__meta--author" rel="author">
               By
               {{ range $blogauthors }}
                  {{ $findauthor := where $.Site.Data.authors.authors "tag" .}}
                  {{ $author := index $findauthor 0 }}
                  <span>{{ $author.name }}</span>
               {{ end }}
            </div>
         </aside>
      </article>
   {{ end }}
   <hr class="fancy fancy__borderless--bottom" />
   <div class="paginator">
      <nav aria-label="Blog navigation">
         <ul>
            {{ if .Paginator.HasPrev }}
               <li>
                  <a class="btn" href="{{ .Paginator.Prev.URL }}">Newer articles</a>
               </li>
            {{ end }} 
            {{ range .Paginator.Pagers }}
               <li>
                  {{ if (eq $.Paginator .) }}
                     <a class="disabled">{{ .PageNumber }}</a>
                  {{ else if (eq . $.Paginator.First) }}
                     <a class="btn" href="{{ $.Paginator.First.URL }}">{{ .PageNumber }}</a>
                  {{ else }}
                     <a class="btn" href="{{ .URL }}">{{ .PageNumber }}</a>
                  {{ end }}
               </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
               <li>
                  <a class="btn" href="{{ .Paginator.Next.URL }}">Older articles</a>
               </li>
            {{ end }}
         </ul>
      </nav>
   </div>
{{ end }}
