{{ define "main" }}
<div class="project">
  <h3 class="project__title">{{ .Title }}</h3>
	{{ if .Params.themes }}
		<div class="project__themes">
			{{- partial "themeTags.html" . -}}
		</div>
	{{ end }}
  <p class="project__summary">
		{{ .Description }}
	</p>
  {{if .Resources.ByType "image"}} {{- partial "gallery.html" . -}} {{ else }}
  <hr class="fancy fancy--no-phone" />
  {{end}}
  <div class="project__meta">
    <p class="project__meta__client">
      Client:
      <span class="project__meta__value">{{ .Params.client }}</span>
    </p>
    <p class="project__meta__date">
      Date:
      <span class="project__meta__value">{{ .Params.when }}</span>
    </p>
    <p class="project__meta__team">
      Team:
      <span class="project__meta__value word-spacer">
        {{ $teamlist := split .Params.who " " }}
        {{ $teampages := (.GetPage "/team/").RegularPagesRecursive }}
        {{ range $teamlist }}
          {{ range (where $teampages ".Params.dataname" . ) }}
           {{ .Params.firstname }}
          {{ end }}
        {{ end }}
      </span>
    </p>
  </div>
  <div class="project__content">
		{{ .Content }}
		{{if .Params.linktourl }}
			<a class="btn" href="{{ .Params.linktourl }}" target="_blank">
				{{if .Params.linktotext }} {{ .Params.linktotext }} {{else}} Visit {{ .Title }} site {{end}}
			</a>
		{{end}}
	</div>
  {{/*
    <div class="project__footer">
      <div>
         <a href="/our-work" class="btn btn--up project__footer__button">Go back</a>
      </div>
      <div class="project__footer__section">
         <p class="project__meta__themes">
            Themes:
            <span class="project__meta__value">
               {{ $themeslist := split .Params.themes " " }} {{ $themepages :=
               (.GetPage "/our-work/theme").Pages }} {{ range $themeslist }} {{
               range (where $themepages ".Params.key" .) }}
               <a href="{{ .Permalink }}"> {{ .Title }} </a>
               {{ end }} {{ end }}
            </span>
         </p>
      </div>
	   </div>
	*/}}
</div>
<hr class="fancy fancy__project" />
{{ end }}
