{{ define "main" }}
<div class="project">
  <h3 class="project__title">{{ .Title }}</h3>
  <p class="project__summary">{{ .Summary }}</p>
	{{if .Resources.Match "*jpg"}}
		{{- partial "gallery.html" . -}}
	{{end}}
  <div class="project__meta">
    <p class="project__meta__client">
      Client:
      <span class="project__meta__value">{{ .Params.client }}</span>
    </p>
    <p class="project__meta__date">
      Date:
      <span class="project__meta__value">{{ .Params.when }}</span>
    </p>
    <p class="project__meta__team">
      Team:
      <span class="project__meta__value">
        {{ $teamlist := split .Params.who " " }} {{ $teampages := (.GetPage
        "/team/").RegularPagesRecursive }} {{ range $teamlist }} {{ range (where
        $teampages ".Params.dataname" . ) }}
        <a href="{{ .URL }}">{{ .Params.firstname }}</a>
        {{ end }} {{ end }}
      </span>
    </p>
  </div>
  <div class="project__content">{{ .Content }}</div>
  {{/* 
    <div class="project__footer">
      <div>
         <a href="/our-work" class="btn btn--up project__footer__button">Go back</a>
      </div>
      <div class="project__footer__section">
         <p class="project__meta__themes">
            Themes:
            <span class="project__meta__value">
               {{ $themeslist := split .Params.themes " " }} {{ $themepages :=
               (.GetPage "/our-work/theme").Pages }} {{ range $themeslist }} {{
               range (where $themepages ".Params.key" .) }}
               <a href="{{ .URL }}"> {{ .Title }} </a>
               {{ end }} {{ end }}
            </span>
         </p>
      </div>
	   </div>
	*/}}
</div>
<hr class="fancy fancy__borderless--bottom
" />
{{ end }}
