{{- $filename := .Get "src" }}
{{- $classList := .Get "classList" }}
{{- $alt := .Get "alt" }}
<figure
   class="image {{ if $classList }}{{ $classList }}{{ end }}"
   markdown="0"
>
   <div class="image__wrapper image__wrapper--single">
      {{ if or (or (in $filename "http") (in $filename ".svg")) (in $filename ".avif") }}
         <img src="{{ $filename }}" alt="{{ if $alt }}{{ $alt }}{{ end }}" />
      {{ else }}       
         {{- $src := .Page.Resources.GetMatch $filename }}
         {{- $image := $src.Resize "900x" }}
         <img src="{{ $image.RelPermalink }}" alt="{{ if $alt }}{{ $alt }}{{ end }}" />
      {{ end }}
   </div>
   <figcaption>
      <span class="icon">
         <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 5 19"
            style="enable-background: new 0 0 5 19"
            xml:space="preserve"
         >
            <path
               d="M4.3,3.72H0.7V0.38h3.6V3.72z M4.3,18.62H0.7V5.88h3.6V18.62z"
            />
         </svg>
      </span>
      <span class="desc" markdown="1"> 
