{{ define "main" }}
<div class="venn">
   <h2 class="venn__title">The people we work with</h2>

   <p class="venn__subtitle">
      *such as campaigns, charities, social enterprises, health and wellbeing
      initatives, the NHS, and neighbourhood teams.
   </p>
   <p class="venn__subtitle venn__subtitle--mobile">And everyone in between.</p>
</div>

<hr class="fancy fancy--no-phone" />

<div class="windows windows--index">
   <div class="window window--1">
      <h2>Who we are</h2>
      <p class="content">
         Geeks for Social Change is a research and development studio based in
         Manchester, UK.
      </p>
      <p class="more">
         <a href="/who-we-are" class="btn">Find out more</a>
         <span class="strip strip--lines"></span>
      </p>
   </div>
   <div class="window window--2">
      <h2>What we do</h2>
      <p class="content">
         We use a community-based approach to technology and research that helps
         organisations and social enterprises achieve their aims.
      </p>
      <p class="more">
         <a href="/what-we-do" class="btn">Find out more</a>
         <span class="strip strip--lines"></span>
      </p>
   </div>
   <div class="window window--3 window--highlight">
      <h2>Get in touch</h2>
      <p class="content">
         Talk to us to discover how we can work together towards a better world.
      </p>
      <p class="more">
         <a href="/contact" class="btn">Contact us</a>
         <span class="strip strip--lines"></span>
      </p>
   </div>
</div>

{{ end }}
