{{ define "main" }}
  <ul class="work__categories">
    {{ $categories := $.Site.GetPage "/our-work/category" }}
    {{ with $categories }}
      {{ range .Pages }}
        <li class="work__category">
            <h3 class="work__category__name">{{.Title}}</h3>
            <div class="work__category__stripes">
              <a href="{{ .Permalink }}" class="work__category__link">Browse</a>
            </div>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  <hr class="fancy" />
  <ul id="list" class="work__projects">
		{{ $weighted := (where (where .Site.RegularPages "Section" "project") "Params.weight" "!=" 100 )}}
		{{ $unweighted := ( shuffle (where (where .Site.RegularPages "Section" "project") "Params.weight" "==" 100 ) )}}
    {{ range ( .Paginate ( $weighted | append  $unweighted ) ).Pages }}
			{{- partial "projectindex.html" . -}}
    {{ end }}
  </ul>
  <hr class="fancy fancy__borderless--bottom" />
	 {{ partial "paginator.html" (dict "ctx" . "newer" "Previous page" "older" "Next page" "id" "#list")}}
{{ end }}
