{{ define "main" }}
  <ul class="work__categories">
    {{ $categories := $.Site.GetPage "/our-work/category" }}
    {{ with $categories }}
      {{ range .Pages }}
        <li class="work__category">
            <h3 class="work__category__name">{{.Title}}</h3>
            <div class="work__category__stripes">
              <a href="{{ .URL }}" class="work__category__link">Browse</a>
            </div>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  <hr class="fancy" />
  <ul class="work__projects">
    {{ range (.Paginate (where .Site.RegularPages "Section" "project")).Pages }}
      <li class="work__project">
          <div class="work__project__info">
            <a href="{{ .URL }}" class="work__project__title">
                <h2 class="work__project__title">{{ .Title }}</h2>
            </a>
            <p class="work__project__summary">{{ .Params.summary }}</p>
            <a href="{{ .URL }}" class="work__project__readmore">Read more</a>
          </div>
          <div class="work__project__image orangify">
            <img src="https://source.unsplash.com/random/1000x500/?img=1" />
          </div>
      </li>
    {{ end }}
  </ul>
  <hr class="fancy" />
	 {{ partial "paginator.html" (dict "ctx" . "newer" "Previous page" "older" "Next page" )}}
{{ end }}
