{{ define "main" }}
  <h3 class="category__title">{{ .Title }}</h3>
  <div class="category__content">
    {{ .Content }}
  </div>
  <hr class="fancy" />
  <ul class="work__projects">
		{{ $weighted := (where (where .Site.RegularPages "Section" "project") "Params.weight" "!=" 100 )}}
		{{ $unweighted := ( shuffle (where (where .Site.RegularPages "Section" "project") "Params.weight" "==" 100 ) )}}
    {{ range ( $weighted | append  $unweighted )}}
      {{ if (in .Params.categories $.Params.key )}}
        {{- partial "projectindex.html" . -}}
      {{ end }}
    {{ end }}
  </ul>
  <hr class="fancy" />
{{ end }}
