.btn
  background-color: $secondary
  display: inline-block
  font-family: $balboa
  font-size: 18px
  text-decoration: none
  border: 2px solid $primary
  padding: 0.66666rem 1rem
  color: $primary
  +balboa
  background-size: 210% 100%
  background-image: linear-gradient(to right, transparent 50%, $primary 50%)
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  transition: 0.2s
  +for-tablet-portrait-up
    font-size: 1.22222rem
    line-height: 1.454545
  &:hover
    color: $secondary
    background-position: -95% 0
  &--up
    background-size: 100% 220%
    background-image: linear-gradient(to top, $primary 50%, transparent 50%)
  &--up:hover
    color: $secondary
    background-position: 0 95%

a.btn--invert, .btn--invert a
  display: inline-block
  text-decoration: none
  border: 2px solid $primary
  padding: 0.66666rem 1rem
  color: $secondary
  +balboa
  background-size: 210% 100%
  background-image: linear-gradient(to right, $primary 50%, $secondary 50%)
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  transition: 0.2s
  &:hover
    color: $primary
    background-position: -95% 0
  &--up
    background-size: 100% 220%
    background-image: linear-gradient(to top, $secondary 50%, $primary 50%)
  &--up:hover
    color: $primary
    background-position: 0 95%

a.link
  display: inline-block
  background-size: 100% 200%
  background-image: linear-gradient(to top, $primary 50%, transparent 50%)
  -webkit-transition: 0.2s
  -moz-transition: 0.2s
  transition: 0.2s
  &:hover
    color: $secondary !important
    background-position: 0 100%
