.gallery
  margin: 0 -1rem
  +for-tablet-portrait-up
    margin: 0 -5rem
  &__image
    +border(2px 0)
    line-height: 0
    img
      width: 100%
  &__thumbnails
    display: flex
    justify-content: flex-start
    background-color: $primary
    gap: 0 2px
    +border(bottom)
    overflow: auto;
  &__thumbnail
    cursor: pointer
    line-height: 0
    background-color: $secondary
    height: 60px
    aspect-ratio: 2 / 1
  &__filler
    flex-grow: 1
    background-color: $secondary
      
